* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2f3b52;
    color: #fff;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 30%;
    background-color: #263247;
    padding: 40px;
    text-align: center;
}

.sidebar img {
    width: 200px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.role {
    background: #3c4b67;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contact p {
    margin: 8px 0;
    font-size: 14px;
}

.socials {
    margin-top: 20px;
}

.socials a {
    display: block;
    text-decoration: none;
    color: #ffd166;
    margin: 8px 0;
    transition: 0.3s;
}

.socials a:hover {
    color: white;
}

.main {
    width: 70%;
    padding: 60px;
}

section {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 15px;
    color: #ffd166;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

.resume-btn a {
    background: #ffd166;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.resume-btn a:hover {
    background: white;
}
